{:allowed-branchname-matches ["main" "release-.*" "sandbox-.*"]
 :allowed-filename-matches ["(?i)docs/(?:(?!toc.yml))" "docs-msdn" "(?i)azure-sql/(?:(?!toc.yml))" "(?i)data-migration/(?:(?!toc.yml))"]}
