{:allowed-branchname-matches ["master" "release-.*" "sandbox-.*"]
 :allowed-filename-matches ["docs" "docs-msdn"]

 :template-header
   "
## Acrolinx Scorecards

**Notice:** This repo is running on a test instance of Acrolinx. Help test by clicking the Acrolinx test results, even if you already made fixes in VSCode. 
 
 Click the scorecard links for each article to review the Acrolinx feedback on grammar, spelling, punctuation, writing style, and terminology:

| Article | Score | Issues | Scorecard |
| ------- | ----- | ------ | --------- |
"

   ;; do not remove the spaces at the end of lines! That is markdown for
   ;; linebreak
   :template-change
   "| **${github/filename}** | ${acrolinx/qualityscore} | ${acrolinx/flags/issues} | [link](${acrolinx/scorecard}) |
"

 :template-footer
"
**Notes**

- When you click an Acrolinx report link, Acrolinx uses your Microsoft corpnet credentials to access the reports. There is no sign in screen if you are already on corpnet.
 
- Please [report any issues](https://aka.ms/acrolinxbug) using a bug, and @ mention tysonn in the discussion. 

"}

