# Default .gitignore for a new provisioned repository in MicrosoftDocs org

log/
xhtml/
packages/
obj/
_site/
Tools/NuGet/
.optemp/
.idea/

.openpublishing.build.mdproj
.openpublishing.buildcore.ps1
packages.config


**/.vscode/settings.json