log/
obj/
_site/
.optemp/
_themes/
_themes.MSDN.Modern/
_themes.VS.Modern/

.openpublishing.buildcore.ps1
/docs/ssms/.vs
docs/reporting-services/media/lesson-2-specifying-connection-information-reporting-services/vs2019-datasource-connection-properties-dialog-box.png
